.signUp{
    background-color:#333333;
    width:100vw;
    min-height:100vh;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.signUpForm{
    width:fit-content;
    margin-top:10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}