.body{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    padding-top:5%;
    padding-bottom:5%;
    border:1px solid red;
}
