.addButton{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin:10px;
}

@media only screen and (max-width:500px){
    .addButton{
      display:none;
    }
  }