.calculators{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    padding-top:5%;
    padding-bottom:5%;
    border:1px solid red;
}
