.header{
    height:fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
#warningAddNotes{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:100%;
    justify-content:center;
}
#logoImage{
    width:65px;
}
#logoContainer{
    width:65px;
    height:65px;
}
#donateDiv{
    left:280px;
}

@media only screen and (max-width:1050px){
    #emailInput{
        width:110px;
    }
    #passwordInput{
        width:110px;
    }
}
@media only screen and (max-width:890px){
    #emailInput{
        width:90px;
    }
    #passwordInput{
        width:90px;
    }
}
@media only screen and (max-width:850px){
    .loginFields{
        display:none;
    }
}
@media only screen and (max-width:499px){
    #donateButton{
        width:125px;
    }
    #donateDiv{
        left:275px;
    }
    #warningAddNotes{
        flex-direction:column;
    }
}