.header{
    height:fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
#logoImage{
    width:65px;
}
#logoContainer{
    width:65px;
    height:65px;
}
@media only screen and (max-width:499px){
    .loginFields{
        display:none;
    }
}