/*
Ideal Body Weight
*/
#ibwCalculator{
    display:flex;
    flex-direction: column;
    width:90%;
    height:90%;
    justify-content: flex-start;
    align-items: center;
    padding-top:2%;
    padding-bottom:4%;
}
#heightContainer, .weightContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:80%;
    padding-top:15px;
    padding-bottom:15px;
}
/*
Tube Feeding
*/
.tubeFeedOutput{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top:8%;
    padding-bottom:8%;
}
.tubeFeedCalc{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*
TPN/PPN
*/
.tpnppnCalculator{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.output{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top:8%;
    padding-bottom:8%;
}